@charset "UTF-8";

//=============================================================================
// COLORS
//=============================================================================

/*doc
---
title: Colors
name: a-colors
category: Layout - Colors
---

<div class="container-fluid">
  <div class="row">

    <div class="col-sm-3 col-xs-6">
      <div style="background:#73063a;"><br><br><br><br><br></div>
      <pre class="text-center">$tyrianPurple</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#d40b6b;"><br><br><br><br><br></div>
      <pre class="text-center">$magenta</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#fbb0d4;"><br><br><br><br><br></div>
      <pre class="text-center">$lavenderPink</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#eed2da;"><br><br><br><br><br></div>
      <pre class="text-center">$paleRose</pre>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-3 col-xs-6">
      <div style="background:#000;"><br><br><br><br><br></div>
      <pre class="text-center">$black</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#333;"><br><br><br><br><br></div>
      <pre class="text-center">$mine</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#ccc;"><br><br><br><br><br></div>
      <pre class="text-center">$silver</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#f0f0f0;"><br><br><br><br><br></div>
      <pre class="text-center">$dust</pre>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-3 col-xs-6">
      <div style="background:#fff;"><br><br><br><br><br></div>
      <pre class="text-center">$white</pre>
    </div>

  </div>
</div>
*/


$tyrianPurple:                     #73063a;
$magenta:                           #d40b6b;
$lavenderPink:                     #fbb0d4;
$paleRose:                         #eed2da;

$black:                             #000;
$mine:                              #333;
$silver:                            #ccc;
$dust:                              #f0f0f0;
$white:                             #fff;





//=============================================================================
// FONTS
//=============================================================================

$fontSans:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontSerif:       "Corporate", Georgia, serif;
$fontMono:        Monaco, Menlo, Consolas, monospace;
