@charset "UTF-8";

/*doc
---
title: Magenta
name: a-magenta
category: Layout - Themes
---

```html_example
<div class="theme-magenta">
  <br><br><br><br>
</div>
```
*/

.theme-magenta {
  background: $magenta;
  color: $white;
  h1, h1 a {color: $paleRose;}
  a {
    color: $white;
    &:hover {color: $white;}
  }
  nav a {
    color: $lavenderPink;
    text-decoration: none;
  }
  nav .active a, nav a:hover {color: $white;}
  hr {background: $white;}
}


/*doc
---
title: Dust
name: b-dust
category: Layout - Themes
---

```html_example
<div class="theme-dust">
  <br><br><br><br>
</div>
```
*/

.theme-dust {
  background: $dust;
}